.navbar-wrapper {
    display:flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 20px;
    .navbar-brand {
        height: 11.2vw;
        width: 50vw;
        align-content: flex-end;
        margin-left: auto;
    }
    .btn-nav {
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 40px;
    }
}

.introduction-wrapper {
    position: relative;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    .introduction-btn {
        margin-bottom: 45px;
    }
    .introduction-column-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
        gap: 40px;
        margin-bottom: 50px;
        .left-column {
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            flex-direction: column;
            font-family: $mainFont;
            gap: 50px;
            width: 50vw;
            .hero-title {
                font-size: 3.75vw;
                color: $mainRed;
                animation-duration: 1s;
                animation-name: fadeInTop;
            }
            .hero-description {
                font-size: 1.25vw;
                color: $mainGrey;
                animation-duration: 1s;
                animation-name: fadeInTop;
            }
        }
        .right-column {
            .hero-banner {
                border-radius: 35px;
                box-shadow: 7px 7px 17px -1px rgba(0, 0, 0, 0.25);
                animation-duration: 1s;
                animation-name: fadeIn;
                width: 50vw;
            }
        }
    }
    .introduction-sub-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
}

.info-banner {
    background: linear-gradient(90deg, #3597D3 0%, #E84C3C 100%);
    border-radius: 169.5px 0px;
    width: 100%;
    margin-bottom: 40px;
    .info-banner-column-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .banner-text {
            font-family: $mainFont;
            font-size: 5vw;
            color: white;
            margin-left: 7%;
        }
        .banner-img {
            border-radius: 50%;
            width: 444px;
            height: 444px;
            transform: translateY(-15%);
            margin-right: 7%;
        }  
    }
}

.info-banner-reverse {
    background: linear-gradient(90deg, #3597D3 0%, #E84C3C 100%);
    border-radius: 0px 169.5px;
    width: 100%;
    margin-bottom: 40px;
    .info-banner-column-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .banner-text {
            font-family: $mainFont;
            font-size: 5vw;
            color: white;
            margin-left: 7%;
        }
        .banner-img {
            border-radius: 50%;
            width: 444px;
            height: 444px;
            transform: translateY(-15%);
            margin-right: 7%;
        }  
    }
}

.available-city {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 20%;
    margin-bottom: 40px;
    .france-map-text {
        font-family: $mainFont;
        font-size: 3.75vw;
        color: $mainBlue;
    }
}

.delivraide-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 10px;
    @supports (-webkit-text-stroke: 3px $mainBlue) {
        .delivraide-info-title-stroke {
            -webkit-text-stroke: 3px $mainBlue;
            -webkit-text-fill-color: transparent;
        }
    }
    .delivraide-info-title {
        font-family: $mainFont;
        font-size: 3.75vw;
        margin-bottom: 25px;
        .logo-delivr {
            color: $mainBlue;
        }
        .logo-apostrophe {
            color: black;
        }
        .logo-aide {
            color: $mainRed;
        }
    }
    .delivraide-info-stat-delivery-man {
        font-family: $mainFont;
        color: $mainRed;
        font-size: 3.75vw;
        @supports (-webkit-text-stroke: 3px $mainRed) {
            .delivraide-info-stat-stroke {
                -webkit-text-stroke: 3px $mainRed;
                -webkit-text-fill-color: transparent;
                font-size: 10vw;
            }
        }
    }
    .delivraide-info-stat-availaible-city {
        font-family: $mainFont;
        color: $mainRed;
        font-size: 3.75vw;
        @supports (-webkit-text-stroke: 3px $mainRed) {
            .delivraide-info-stat-stroke {
                -webkit-text-stroke: 3px $mainRed;
                -webkit-text-fill-color: transparent;
                font-size: 10vw;
            }
        }
    }
    .delivraide-info-stat-total-delivery {
        font-family: $mainFont;
        color: $mainRed;
        font-size: 3.75vw;
        @supports (-webkit-text-stroke: 3px $mainRed) {
            .delivraide-info-stat-stroke {
                -webkit-text-stroke: 3px $mainRed;
                -webkit-text-fill-color: transparent;
                font-size: 10vw;
            }
        }
    }
}

.caroussel-container {
    width: 480px;
    margin-left: 37vw;
    margin-bottom: 40px;
    .slide-img {
        height: 80vh;
        border-radius: 25px;
    }
    .slide-img:hover {
        cursor: pointer;
    }
}


.info-banner-column-wrapper {
    .checklist-illustration {
        width: 32vw;
        height: 40vw;
    }
    .banner-text-avantage-hero {
        font-size: 3.5vw;
    }
    .info-banner-avantage {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        font-family: $mainFont;
        color: white;
        font-size: 2.5vw;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media only screen and (max-device-width: 1400px)  {
    .introduction-wrapper .introduction-column-wrapper .left-column .hero-title {
        font-size: 6vw;
    }
    .introduction-wrapper .introduction-column-wrapper .left-column .hero-description {
        font-size: 3vw;
    }
    .introduction-sub-wrapper {
        align-items: center;
    }
    .introduction-column-wrapper {
        flex-direction: column;
    }
    .info-banner-column-wrapper {
        padding-top: 20px;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .info-banner .info-banner-column-wrapper .banner-img {
        margin-right: 0;
        transform: translateY(0);
        margin-bottom: 40px;
    }
    .available-city {
        flex-direction: column-reverse;
    }
    .france-map-img {
        width: 80vw;
        height: 80vw;
    }
    .france-map-text {
        font-size: 6vw;
    }
    .info-banner-reverse .info-banner-column-wrapper .banner-text {
        padding-top: 20px;
        gap: 50px;
        text-align: center;
        margin-left: 0;
    }
    .info-banner-reverse .info-banner-column-wrapper .banner-img {
        margin-right: 0;
        transform: translateY(0);
        margin-bottom: 40px;
    }
    .delivraide-info .delivraide-info-title {
        font-size: 5vw;
    }
    .info-banner-column-wrapper .banner-text-avantage-hero {
        font-size: 5vw;
    }
    .info-banner-column-wrapper .checklist-illustration {
        width: 90vw;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .info-banner-avantage p {
        font-size: 4vw;
        margin-bottom: 40px;
    }
}