@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.navbar-wrapper .navbar-brand {
  height: 8vw;
  width: 30vw;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-left: auto;
}

.navbar-wrapper .btn-nav {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 40px;
}

.introduction-wrapper {
  position: relative;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.introduction-wrapper .introduction-btn {
  margin-bottom: 45px;
}

.introduction-wrapper .introduction-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  gap: 40px;
  margin-bottom: 50px;
}

.introduction-wrapper .introduction-column-wrapper .left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fredoka One", cursive;
  gap: 50px;
  width: 50vw;
}

.introduction-wrapper .introduction-column-wrapper .left-column .hero-title {
  font-size: 3.75vw;
  color: #E84C3C;
}

.introduction-wrapper .introduction-column-wrapper .left-column .hero-description {
  font-size: 1.25vw;
  color: #A1A0A0;
}

.introduction-wrapper .introduction-column-wrapper .right-column .hero-banner {
  border-radius: 35px;
  -webkit-box-shadow: 7px 7px 17px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 7px 7px 17px -1px rgba(0, 0, 0, 0.25);
  width: 50vw;
}

.introduction-wrapper .introduction-sub-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-banner {
  background: -webkit-gradient(linear, left top, right top, from(#3597D3), to(#E84C3C));
  background: linear-gradient(90deg, #3597D3 0%, #E84C3C 100%);
  border-radius: 169.5px 0px;
  width: 100%;
  margin-bottom: 40px;
}

.info-banner .info-banner-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-banner .info-banner-column-wrapper .banner-text {
  font-family: "Fredoka One", cursive;
  font-size: 5vw;
  color: white;
  margin-left: 7%;
}

.info-banner .info-banner-column-wrapper .banner-img {
  border-radius: 50%;
  width: 444px;
  height: 444px;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  margin-right: 7%;
}

.info-banner-reverse {
  background: -webkit-gradient(linear, left top, right top, from(#3597D3), to(#E84C3C));
  background: linear-gradient(90deg, #3597D3 0%, #E84C3C 100%);
  border-radius: 0px 169.5px;
  width: 100%;
  margin-bottom: 40px;
}

.info-banner-reverse .info-banner-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-banner-reverse .info-banner-column-wrapper .banner-text {
  font-family: "Fredoka One", cursive;
  font-size: 5vw;
  color: white;
  margin-left: 7%;
}

.info-banner-reverse .info-banner-column-wrapper .banner-img {
  border-radius: 50%;
  width: 444px;
  height: 444px;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  margin-right: 7%;
}

.available-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20%;
  margin-bottom: 40px;
}

.available-city .france-map-text {
  font-family: "Fredoka One", cursive;
  font-size: 3.75vw;
  color: #4295D3;
}

.delivraide-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;
}

@supports (-webkit-text-stroke: 3px #4295D3) {
  .delivraide-info .delivraide-info-title-stroke {
    -webkit-text-stroke: 3px #4295D3;
    -webkit-text-fill-color: transparent;
  }
}

.delivraide-info .delivraide-info-title {
  font-family: "Fredoka One", cursive;
  font-size: 3.75vw;
  margin-bottom: 25px;
}

.delivraide-info .delivraide-info-title .logo-delivr {
  color: #4295D3;
}

.delivraide-info .delivraide-info-title .logo-apostrophe {
  color: black;
}

.delivraide-info .delivraide-info-title .logo-aide {
  color: #E84C3C;
}

.delivraide-info .delivraide-info-stat-delivery-man {
  font-family: "Fredoka One", cursive;
  color: #E84C3C;
  font-size: 3.75vw;
}

@supports (-webkit-text-stroke: 3px #E84C3C) {
  .delivraide-info .delivraide-info-stat-delivery-man .delivraide-info-stat-stroke {
    -webkit-text-stroke: 3px #E84C3C;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
  }
}

.delivraide-info .delivraide-info-stat-availaible-city {
  font-family: "Fredoka One", cursive;
  color: #E84C3C;
  font-size: 3.75vw;
}

@supports (-webkit-text-stroke: 3px #E84C3C) {
  .delivraide-info .delivraide-info-stat-availaible-city .delivraide-info-stat-stroke {
    -webkit-text-stroke: 3px #E84C3C;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
  }
}

.delivraide-info .delivraide-info-stat-total-delivery {
  font-family: "Fredoka One", cursive;
  color: #E84C3C;
  font-size: 3.75vw;
}

@supports (-webkit-text-stroke: 3px #E84C3C) {
  .delivraide-info .delivraide-info-stat-total-delivery .delivraide-info-stat-stroke {
    -webkit-text-stroke: 3px #E84C3C;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
  }
}

.caroussel-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caroussel-container {
  width: 480px;
  margin-bottom: 40px;
}

.caroussel-container .slide-img {
  height: 80vh;
  border-radius: 25px;
}

.caroussel-container .slide-img:hover {
  cursor: pointer;
}

.info-banner-column-wrapper .checklist-illustration {
  width: 32vw;
  height: 40vw;
}

.info-banner-column-wrapper .banner-text-avantage-hero {
  font-size: 3.5vw;
}

.info-banner-column-wrapper .info-banner-avantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Fredoka One", cursive;
  color: white;
  font-size: 2.5vw;
}

.donation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.donation-wrapper .donation-column-wrapper {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 40px;
}

.donation-wrapper .donation-title {
  font-size: 3.75vw;
  font-family: "Fredoka One", cursive;
  color: #4295D3;
}

.donation-wrapper .donation-description {
  font-size: 1.25vw;
  font-family: "Fredoka One", cursive;
  color: #A1A0A0;
}

.donation-wrapper .donation-parapgraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.donation-wrapper .donation-heart-illustration {
  height: 27.5vw;
  width: 27.5vw;
}

.conclusion {
  background: -webkit-gradient(linear, left top, left bottom, from(#3597D3), to(#000000));
  background: linear-gradient(180deg, #3597D3 0%, #000000 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.conclusion .recap {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.conclusion .recap-hero-title {
  font-size: 3.75vw;
  font-family: "Fredoka One", cursive;
  color: white;
}

.conclusion .recap-sub-title {
  font-size: 3vw;
  font-family: "Fredoka One", cursive;
  color: white;
}

.conclusion footer {
  width: 100%;
}

.conclusion footer .footer-column-wrapper {
  font-family: "Fredoka One", cursive;
  color: white;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .contact-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .mail-logo {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .instagram-logo {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .mail-logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .instagram-logo:hover {
  opacity: 0.8;
  cursor: pointer;
}

.conclusion footer .footer-column-wrapper .footer-contact-title {
  font-size: 3vw;
}

.conclusion footer .footer-column-wrapper .footer-contact-description {
  font-size: 1.5vw;
}

.conclusion footer .footer-copyright {
  font-size: 1vw;
  font-family: "Fredoka One", cursive;
  color: white;
  text-align: center;
}

.conclusion hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 90vw;
}

@media only screen and (max-device-width: 1400px) {
  .introduction-wrapper .introduction-column-wrapper .left-column .hero-title {
    font-size: 6vw;
  }
  .introduction-wrapper .introduction-column-wrapper .left-column .hero-description {
    font-size: 3.75vw;
  }
  .introduction-sub-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-banner-column-wrapper {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .info-banner .info-banner-column-wrapper .banner-img {
    margin-right: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 40px;
  }
  .available-city {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .france-map-img {
    width: 80vw;
    height: 80vw;
  }
  .france-map-text {
    font-size: 6vw;
  }
  .info-banner-reverse .info-banner-column-wrapper .banner-text {
    padding-top: 20px;
    gap: 50px;
    text-align: center;
    margin-left: 0;
  }
  .info-banner-reverse .info-banner-column-wrapper .banner-img {
    margin-right: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 40px;
  }
  .delivraide-info .delivraide-info-title {
    font-size: 5vw;
  }
  .info-banner-column-wrapper .banner-text-avantage-hero {
    font-size: 5vw;
  }
  .info-banner-column-wrapper .checklist-illustration {
    width: 90vw;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .info-banner-avantage p {
    font-size: 4vw;
    margin-bottom: 40px;
  }
}

@media only screen and (max-device-width: 600px) {
  .navbar-wrapper .navbar-brand {
    width: 50vw;
    height: 11.2vw;
  }
}

@media only screen and (max-device-width: 400px) {
  .introduction-wrapper .introduction-column-wrapper .left-column {
    gap: 20px;
    width: 80vw;
  }
  .introduction-wrapper .introduction-column-wrapper .left-column .hero-title {
    font-size: 7vw;
  }
  .introduction-wrapper .introduction-column-wrapper .left-column .hero-description {
    font-size: 4vw;
  }
  .introduction-wrapper .introduction-column-wrapper {
    margin-bottom: 20px;
    width: 100%;
  }
  .introduction-wrapper .introduction-column-wrapper .right-column .hero-banner {
    width: 80vw;
  }
  .info-banner .info-banner-column-wrapper .banner-text {
    font-size: 8vw;
  }
  .info-banner .info-banner-column-wrapper .banner-img {
    width: 333px;
    height: 333px;
  }
  .info-banner .info-banner-column-wrapper {
    width: 95vw;
  }
  .introduction-sub-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .introduction-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-banner-column-wrapper {
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .info-banner .info-banner-column-wrapper .banner-img {
    margin-right: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 40px;
  }
  .available-city {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .france-map-img {
    width: 95vw;
    height: 95vw;
  }
  .available-city .france-map-text {
    font-size: 8vw;
    text-align: center;
  }
  .info-banner-reverse .info-banner-column-wrapper .banner-text {
    font-size: 8vw;
  }
  .info-banner-reverse {
    border-radius: 0 0 150px 150px;
  }
  .info-banner {
    border-radius: 0 0 150px 150px;
  }
  .info-banner-reverse .info-banner-column-wrapper .banner-img {
    margin-right: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-bottom: 40px;
    width: 333px;
    height: 333px;
  }
  .delivraide-info .delivraide-info-title {
    font-size: 8.5vw;
  }
  .delivraide-info .delivraide-info-stat-delivery-man .delivraide-info-stat-stroke {
    font-size: 15vw;
  }
  .delivraide-info .delivraide-info-stat-availaible-city .delivraide-info-stat-stroke {
    font-size: 15vw;
  }
  .delivraide-info .delivraide-info-stat-total-delivery .delivraide-info-stat-stroke {
    font-size: 15vw;
  }
  .delivraide-info .delivraide-info-title-stroke {
    -webkit-text-stroke: 2px #4295D3;
  }
  .delivraide-info .delivraide-info-stat-delivery-man {
    font-size: 7vw;
  }
  .delivraide-info .delivraide-info-stat-availaible-city {
    font-size: 7vw;
  }
  .delivraide-info .delivraide-info-stat-total-delivery {
    font-size: 7vw;
  }
  .info-banner-column-wrapper .banner-text-avantage-hero {
    font-size: 9vw;
  }
  .caroussel-container {
    width: 90vw;
    margin-left: 5%;
  }
  .info-banner {
    border-radius: 0 0 150px 150px;
  }
  .info-banner-column-wrapper .checklist-illustration {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .info-banner-column-wrapper .info-banner-avantage {
    margin-left: 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-banner-avantage p {
    font-size: 5vw;
    margin-bottom: 40px;
  }
  .donation-wrapper .donation-title {
    font-size: 7vw;
  }
  .donation-wrapper .donation-parapgraph {
    gap: 20px;
  }
  .donation-wrapper .donation-description {
    font-size: 5vw;
  }
  .donation-wrapper .donation-heart-illustration {
    width: 55vw;
    height: 55vw;
  }
  .donation-wrapper .donation-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .conclusion .recap-hero-title {
    font-size: 8vw;
  }
  .conclusion .recap-sub-title {
    font-size: 8vw;
  }
  .conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section img {
    width: 35px;
  }
  .conclusion footer .footer-column-wrapper .footer-left-column .footer-contact-section .contact-logo {
    gap: 15px;
  }
  .conclusion footer .footer-column-wrapper .footer-contact-description {
    font-size: 3.75vw;
  }
  .conclusion footer .footer-column-wrapper .footer-contact-title {
    font-size: 8vw;
  }
  .conclusion footer .footer-copyright {
    font-size: 3vw;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.btn-primary-red {
  all: unset;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background: white;
  font-family: "Fredoka One", cursive;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 2vw;
  color: #E84C3C;
  display: inline-block;
}

.btn-primary-red:hover {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 0.9;
}

.btn-primary-blue {
  all: unset;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  background: white;
  font-family: "Fredoka One", cursive;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 2vw;
  color: #4295D3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-primary-blue:hover {
  -webkit-box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0);
          box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 0.9;
}

@media only screen and (max-device-width: 1400px) {
  .btn-primary-red {
    font-size: 3.5vw;
  }
  .btn-primary-blue {
    font-size: 3.5vw;
  }
}

@media only screen and (max-device-width: 400px) {
  .btn-primary-red {
    font-size: 5vw;
  }
  .btn-primary-blue {
    font-size: 5vw;
  }
  .introduction-wrapper .introduction-btn {
    margin-bottom: 20px;
  }
  .navbar-wrapper .btn-nav {
    display: none;
  }
  .navbar-wrapper .navbar-brand {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */