* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden
}

@import 'variables';
@import 'app';
@import 'slick';
@import 'slickTheme';

.btn-primary-red {
    all: unset;
    border-radius: 25px;
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-right:25px;
    padding-left:25px;
    background: white;
    font-family: $mainFont;
    transition: $shortTransition;
    font-size: 2vw;
    color: $mainRed;
    display: inline-block
}

.btn-primary-red:hover {
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.0);
    cursor: pointer;
    opacity: 0.9;
}

.btn-primary-blue {
    all: unset;
    border-radius: 25px;
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-right:25px;
    padding-left:25px;
    background: white;
    font-family: $mainFont;
    transition: $shortTransition;
    font-size: 2vw;
    color: $mainBlue;
    width: fit-content;
}

.btn-primary-blue:hover {
    box-shadow: 5px 5px 4px -1px rgba(0, 0, 0, 0.0);
    cursor: pointer;
    opacity: 0.9;
}

@media only screen and (max-device-width: 1400px)  {
    .btn-primary-red  {
        font-size: 3.5vw;
    }
    .btn-primary-blue  {
        font-size: 3.5vw;
    }
}


@media only screen and (max-device-width: 400px)  {
    .btn-primary-red  {
        font-size: 5vw;
    }
    .btn-primary-blue  {
        font-size: 5vw;
    }
    .introduction-wrapper .introduction-btn {
        margin-bottom: 20px;
    }
    .navbar-wrapper .btn-nav {
        display: none;
    }
    .navbar-wrapper .navbar-brand {
        margin-left: 0;
    }
}